@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    outline: none !important;
       
}
html{
    scroll-behavior: smooth;
}

.dropdown-item {
    color: #fff;
    
}


body{
    padding-bottom:20px;
    padding-top: 0px;
    color: #5a5a5a;
    height: 100%;
    width:100%;
}

.nav-link{
     text-decoration: none;
    color:white !important;
}

.navbar-wrapper .container .bg-dark{
    background: transparent !important;
    transition:  750ms ease;
    
}

/*
.navbar-wrapper .container .bg-dark.scrolled{
    background: #0C2D48!important;
    
    
}
*/


.navbar-wrapper{
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 20;
    margin-top:15px;
}

.smart-nav-button{
    position:fixed;
    z-index: 100;
    
}

.smart-nav-button1{
    position:fixed;
    z-index: 99;
    height: 100%;
    width:100%;
    
}




.smart-cont.select{
    display:block;
    position:absolute;
    left:80%;
    top: 40%;
    width:inherit;
    background-color: #004369!important;
    margin: 0;
    opacity: 0.7;
    width: 240px;
    border-radius: 10px 10px 40px 10px;
    padding-left:40px;
}


.navbar-brand{
    color:white !important;
}

.navbar-wrapper > .container{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-wrapper .navbar {
    padding-right: 20px;
    padding-left: 20px;
}


.navbar-wrapper .navbar .container{
    width:auto;
}

.my-list{
    list-style: none;
    list-style-type: none;
    padding: 0px
}

#logo{
    height: 45px;
    
    padding-left: 5px;
}

#canvas{
    background-color: #3f586b !important;
    color:white;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    justify-content: center;
      background: #333 url('') no-repeat center center / cover;
  color: #ccc;
    margin-top: 0px!important;
    
}

#canvas h1,h2{
    font-weight:200;
    margin: 0.4rem;
    
}

#canvas h1{
    font-size: 3.5rem;
}

#canvas h2{
    font-size: 2rem;
    color:#aaa;
        
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}


@media(min-width:1200px)
{
    #canvas h1{
        font-size: 5rem;
    }
}

@media(max-width:800px)
{
    #canvas{
        padding: 0 1rem;
    }
    #canvas h1{
        font-size: 3rem;
    }
}

@media(max-width:500px)
{
    #canvas{
        padding: 0 1rem;
    }
    #canvas h1{
        font-size: 2.5rem;
    }
    #canvas h2{
        font-size: 1.5rem;
    }
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
    box-sizing: border-box;
}


.carousel-inner > .carousel-item > img{
    position: :absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left:0
}


.carousel .carousel-item{
    height: 500px;
    background-color: #777;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom:20px;
}

.team h2{
    color:rgba(50,50,50,0.8)
}

.team p{
    margin-left: 10px;
    margin-right: 10px;
}

.divider{
    margin:40px 0px;
}


.mick{
    padding: 50px;
    text-align: center;
    padding-top: 80px;
    
}

.content{
    margin-bottom: 30px
}


footer{
    margin: 0 100px;
}



.service-cover{
    padding-top:100px;
    padding-right:10px;
    padding-bottom:100px;
    padding-left:10px;
    position:relative;
}

.services-heading{
    margin-bottom: 54px;
}

.text-center {
    text-align: center !important;
}

.services-heading h5,h2{
    font-weight: 700;
}

.services-heading h5{
    color:#DB1F48;
}

.services-heading h2{
    color:#004369;

}

.services-heading p{
    color:#2E8BC0;
}

/*#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  position: fixed;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

[type=radio] {
  display: none;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-110%,0,-400px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-55%,0,-250px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(55%,0,-250px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(110%,0,-400px);
}

#slide1 { background-color: beige}
#slide2 { background-color: beige }
#slide3 { background-color: beige }
#slide4 { background-color: beige }
#slide5 { background-color: beige }

.services-slider1{
    height: 150px;
    padding:20px;
}

.services-slider2{
    height: 130px;
    padding:20px;
}

.services-slider3{
    height: 300px;
    padding:50px 20px 0px;
    position: fixed;
    top:0;
    left:0
}*/



.section-padding{
    padding: 60px 0;
}

.testimonial-carousel{
    margin:5% auto 0;
}

.img-area{
    width:200px;
    height:200px;
    display:block;
    overflow:hidden;
    margin: 0 auto;
    padding: auto;
}

.img1{
    width:180px !important;
    height:200px !important;
    margin-left:auto;
    margin-right:auto;
}

.img2{
    width:120px !important;
    height:200px !important;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.img3{
    margin-top: 5% !important;
    width:200px !important;
    height:185px !important;
}

.img-area img{
    width:100%;
    height: 100%
}

.single-testi{
    background-color: #E5DDC8;
    padding:10%;
    text-align: center;
    border-radius:20px;
    border:solid #d3d3d3 2px !important;
}

.img-text h2{
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 25px!important;
}


.owl-dots{
    text-align: center;
}

.owl-dot{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: gray !important;
    opacity:0.8;
    border-radius: 50%;
    margin: 50px 5px 0;
    outline: none !important;
}



.owl-dot.active{
    background-color: black !important;
}

#specialh2{
    font-size: 24px !important;
}
.parallex-div{
    height: 550px;
    width:100%;
    overflow:hidden;
    /*background-color: gray;*/
    margin: 0px;
    padding-top: 18%;
}

.para1-text{
    text-align: center;
    font-weight: bold;
}

.para1-text p{
    color:white;
    font-weight: bold;
}

.btn-success{
    background-color: #01949A;
    border-color: #01949A;
    margin-top:4px;
}

.btn-dark{

    margin-top:4px;
}



.btn-dark.focus, .btn-dark:focus{
    outline: none;
}

#impReq{
    color:#DB1F48 !important;
}
#msgServices{
        padding-top:30px;
    padding-right:10px;
    padding-bottom:0px;
    padding-left:10px;
    position:relative;
    text-align: center;
    border-top:solid 2px #d3d3d3;
    border-left: solid 3px #A9A9A9;
    border-radius: 20px;
    margin-top: 40px;
    
}


.msgServicesTitle{
    font-size: 1rem;
    font-weight: 700;
    color: #0C2D48 !important;
    font-family: 'Amatic SC', cursive;
}

.msgBody{
    padding-top:20px;
    padding-right:10px;
    padding-bottom:40px;
    padding-left:10px;
    position:relative;
    font-weight: 500!important;
}

.madeWithLove{
    font-weight: 500;
    color: #2E8BC0 !important;
    font-family: 'Amatic SC', cursive;
}
.madeWithLove i{
    color:red
}

blockquote {
    font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
line-height: 1.45;
color: #383838;
}

.firstLetter{
    font-size: 3rem !important;
}


blockquote::before {
content: "\201C";
color: #7a7a7a;
    font-size: 3.5rem;
}

#servicesCite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote::after {
    content: "\201D";
}







