.colli{
    text-align: center;
    margin-bottom: 20px
}

.myRows{
    margin-top: 50px
}

.cmngsoon{
    background-image: url(image/cmngSoon.png);
    width:280px;
    height:180px;
    background-color: azure;
    vertical-align: middle;
    padding-top: 60px;
    text-align: center;
    color: white
}

.agliBaarImg{
    background-image: url(image/Agli%20Barr%20ThumbnailArtboard%201.png);
    width:280px;
    height:180px;
}


.suggestionForm h1{
    text-align: center;
}

.YTcollabInfo h1{
    text-align: center;
}
