.colli{
    text-align: center;
    margin-bottom: 20px
}

.colli p,.colli h6{
    color:white
}

.colli h6{
    color:white;
    margin-top: 20px!important;
}

.myRows{
    margin-top: 50px
}

.agliBaarImg{
    background-image: url(image/Agli%20Barr%20ThumbnailArtboard%201.png);
    width:480px;
    height:280px;
    background-repeat: no-repeat;
    background-size: cover
}



.YTcollabInfo h1{
    text-align: center;
}

@media(max-width:1200px){
iframe,.agliBaarImg{
    width:280px !important;
    height:180px !important;
}
}

.YTcollabInfo h5{
    text-align: center;
    color: red;
}

.YTcollabInfo h5 a{
    text-decoration: none;
    
}

.YTcollabInfo h6{
    text-align: center;
}

body{
    background-image: linear-gradient(to right,rgba(247,0,2,0.7),rgba(63,88,107,0.7))
}

#youtubeBody{
    background-color: #0C2D48 !important;
    border: 2px white solid;
}

.YTcollabInfo {
   background-color: #B1D4E0 !important;
    border: 2px white solid;
}

